
myOS.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist

myOS.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/myOS.xcscheme

myOS.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
